section #main-area {
    max-width: 100%;
    width: 100%;
    height: 100%;
    grid-area: Main;
    background-color: var(--background-dark-primary-color);
    display: flex;
    flex-direction: row;
}


#main-area #items-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

#main-area #items-content.off {
    display: none;
}



.item {

    min-width: 110px;
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 5px 4px;
    border-radius: 5px;
    margin: 10px 7px 0px 7px;
    transition: all 0.3s;
}

.item:hover {
    background: #555555;

}

.item .item-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item .filename {
    min-width: 80px;
    max-width: 100px;
    width: auto;
    word-wrap: break-word;
    padding-top: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif, 'Noto Color Emoji';
    font-weight: 400;
    font-size: 14px;
    color: var(--white-color);
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    background-color: transparent;
}


.item .tag {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tag-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.tag .tag-name {
    max-width: 100px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    color: var(--white-color);
    font-family: 'Lato', sans-serif, 'Noto Color Emoji';
    font-weight: 400;
}

.tag-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
    transition: transform 0.3s, filter 0.3s;
}

.tag-emoji {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 13px;
    color: var(--white-color);
    border-radius: 50%;
    margin-top: 2px;


}

.tag-icon:hover {
    transform: scale(1.1);
    filter: brightness(90%);
}

.item.selected {
    background-color: var(--grey-color);
}





section #main-area #details-screen{
    max-width: 300px;
    width: 100%;
    height: 100%;
    background:transparent;
    display: none;
    position: relative;
    flex-direction: column;
    z-index: 10;
    transition: all 0.5s;
    padding: 10px;
}

#main-area #details-screen.on{
  display: flex;
}
#main-area #details-screen .content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-area #details-screen button{
    margin-bottom: 10px;
    background: var(--close-button-color);
    color: var(--white-color);
    cursor: pointer;
}


#main-area #details-screen button:hover{
    filter: brightness(80%);
}

#main-area #details-screen .content img{
    width: 80px;
    height: 80px;
}
#main-area #details-screen .content div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 20px;
}
#main-area #details-screen .content div label{
    font-family: 'Lato', sans-serif, 'Noto Color Emoji';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white-color);
    
}