#modal-rename {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 25, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#modal-rename #modal-rename-content {
    min-width: 200px;
    width: auto;
    height: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    background-color: #24242D;
    border-radius: 5px;
}


#modal-rename.on {
    display: flex;
}

#modal-rename input[name=rename-file] {
    background-color: transparent;
    border-bottom: 2px solid #555555;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--white-color);

}

#modal-rename button {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--maximize-button-color);

}

#modal-rename button:hover {
    filter: brightness(80%);
}