#menu-content {
    min-width: 200px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    z-index: 10;
    background-color: var(--background-dark-primary-color);
}


#menu-content.on {
    display: flex;
    
}

#menu-content #recent-screen{
box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


#menu-content #recent-screen .recent-items{
    width: 60%;
    height: 100%;
    padding: 10px 20px;
}

#menu-content #recent-screen .recent-items .content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#menu-content #recent-screen .recent-items .content article {
    min-width: 180px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 5px;
    padding: 20px 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    background: var(--menu-background-color);
}

#menu-content #recent-screen .recent-items .content article .group-items {
    min-width: 100px;
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#menu-content #recent-screen .recent-items .content article .group-icons {
    min-width: 50px;
    max-width: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


#menu-content #recent-screen .recent-items .content article h4,
#menu-content #recent-screen .recent-items .content article p {
    font-family: 'Lato', sans-serif, 'Noto Color Emoji';
    max-width: 100%; 
    width: auto;
    height: auto;
    color: #D3EAE8;
    white-space: normal;
    word-wrap: break-word;
}

#menu-content #recent-screen .recent-items .content article h4{
    font-size: 15px;
}

#menu-content #recent-screen .recent-items .content article  p{
    font-size: 14px;
}

#menu-content #recent-screen .recent-items .content article img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-bottom: 5px;
}


#menu-content #recent-screen .recent-items  h3 {
    font-size: 18px;
    font-family: 'Lato', sans-serif, 'Noto Color Emoji';
    font-weight: 700;
    color: #D3EAE8;
}




#menu-content #recent-screen .preview {
    width: 40%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#menu-content #recent-screen .preview article{
    display: flex;
    padding: 40px 10px 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D3EAE8;
}

#menu-content #recent-screen .preview  article label{
    margin-top: 10px;
}