#menu-content {
    min-width: 200px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    z-index: 10;
    background-color: var(--background-dark-primary-color);
}


#menu-content.on {
    display: flex;

}

#menu-content #recent-screen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


#menu-content #recent-screen .recent-items {
    width: 60%;
    height: 100%;
    padding: 10px 20px;
}

#menu-content #recent-screen .recent-items .content {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    overflow-y: auto;
}

#menu-content #recent-screen .recent-items .content article {
    min-width: 180px;
    max-height: 100%;
    width: 100%;
    height: auto;
    display: flex;
    gap: 5px;
    padding: 20px 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    background: var(--menu-background-color);
}

#menu-content #recent-screen .recent-items .content article .group-items {
    min-width: 100px;
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#menu-content #recent-screen .recent-items .content article .group-icons {
    min-width: 50px;
    max-width: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


#menu-content #recent-screen .recent-items .content article label,
#menu-content #recent-screen .recent-items .content article p {
    max-width: 100%;
    width: auto;
    height: auto;
    display: flex;

    font-family: 'Lato', sans-serif, 'Noto Color Emoji';
    font-size: 14px;
    color: #D3EAE8;
    font-weight: 400;
    white-space: normal;
    word-wrap: break-word;
    line-height: 16px;
    margin-bottom: 10px;
    text-align: left;
}


#menu-content #recent-screen .recent-items .content article img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-bottom: 5px;
}






#menu-content #recent-screen .preview {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    color: #D3EAE8;
    padding: 10px;

}


#menu-content #recent-screen .preview p {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
}

#menu-content #recent-screen .preview img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

#menu-content #recent-screen .preview button{
    padding: 15px;
    cursor: pointer;
    color: var(--white-color);
    background: var(--menu-background-color);
}

#menu-content #recent-screen .preview button:hover{
    filter: brightness(80%);
}