nav div{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
nav .button-options-bar{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

nav #btn-new-file{
    background-image: url('../../../../public/assets/icons/options-bar/file-add-fill.svg');
}
/* nav #btn-new-file:hover{
    animation: tremer .2s;
    animation-iteration-count: 4;
} */
nav #btn-new-folder{
    background-image: url('../../../../public/assets/icons/options-bar/folder-add-fill.svg');
}

nav #view-hidden-files{
    background-image: url('../../../../public/assets/icons/options-bar/eye-fill.svg');
    transition: background-image 0.3s;
}

nav #view-hidden-files.off{
    background-image: url('../../../../public/assets/icons/options-bar/eye-off-fill.svg');
}



@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}