header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-area: TitleBar;
    background-color: var(--background-dark-secondary-color);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}




header .window-icons {
    max-width: 15%;
    min-width: 100px;
    width: auto;
    height: auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}


header .window-icons #btn-close-window {
    width: 18px;
    height: 18px;
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:  var(--close-button-color);
    margin-right: 10px;
    transition: transform 0.4s;
}

header .window-icons #btn-close-window img {
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: opacity 0.3s;
}

header .window-icons #btn-close-window:hover img {
    opacity: 1;
}

header .window-icons #btn-close-window:hover {
    transform: scale(1.3);
}





header .window-icons #btn-minimize-window {
    width: 18px;
    height: 18px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--minimize-button-color);
    margin-right: 10px;
    transition: transform 0.3s;
}


header .window-icons #btn-minimize-window img {
    width: 10px;
    height: 10px;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.3s;
}


header .window-icons #btn-minimize-window:hover img {
    opacity: 1;
}

header .window-icons #btn-minimize-window:hover {
    transform: scale(1.3);
}




header .window-icons #btn-maximize-window {
    width: 18px;
    height: 18px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    align-content: center;
    margin-right: 10px;
    background-color:var(--maximize-button-color);
    transition: transform 0.3s;
}

header .window-icons #btn-maximize-window img {
    width: 14px;
    height: 14px;
    opacity: 0;
}

header .window-icons #btn-maximize-window:hover img {
    opacity: 1;
}

header .window-icons #btn-maximize-window:hover {
    transform: scale(1.3);
}




/*  */
header .title-bar {

    min-width: 200px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    -webkit-app-region: drag;
    z-index: 5;
}


header .title-bar h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    align-items: center;
}

header .title-bar .previous-directory {
    width: 37px;
    height: 37px;
    padding: 5px;
    display: flex;
    background-color:var(--grey-color);
    -webkit-app-region: no-drag;
    border-radius: 5px;
    margin-right: 5px;
}

header .title-bar .previous-directory:hover {
    filter: brightness(80%);
}

header .title-bar .next-directory:hover {
    filter: brightness(80%);
}



header .title-bar .next-directory {
    width: 37px;
    height: 37px;
    padding: 5px;
    display: flex;
    background-color:var(--grey-color);
    border-radius: 5px;
    -webkit-app-region: no-drag;
}


header .title-bar img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .title-bar ul {
    min-width: 100px;
    max-width: 100%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    /* -webkit-overflow-scrolling: touch; 
    -ms-overflow-style: -ms-autohiding-scrollbar; */
    -webkit-app-region: no-drag;
}


header .title-bar ul::-webkit-scrollbar {
    display: none;
}


header .title-bar ul div {
    max-width: 100px;
    width: auto;
    height: auto;
    display: flex;

    border-radius: 5px;
    flex-direction: row;
    background-color:var(--grey-color);
    color: var(--white-color);
   
    padding: 10px;
    margin-right: 4px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 12px;
    text-align: justify;
   
  
}

header .title-bar ul div label{
    font-size: 12px;
    text-align: justify; white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 12px;
}





/*  */














header .menu-window {
    max-width: 20%;
    width: auto;
    min-width: 100px;
    height: auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}




.menu-toggle {
    width: 40px;
    height: 27px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 8px;
    z-index: 10;
    margin-left: 5px;
    transition: background-color 0.5s;
}


.menu-toggle img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-toggle:hover {
    background-color: #333;
}



/* .menu-toggle #icon-grade {
    width: 21px;
    height: 15px;
}

.menu-toggle #icon-menu {
    width: 20px;
    height: 19px;
}


.menu-toggle #icon-search {
    width: 23px;
    height: 21px;
} */





/* 

.one,
.two,
.three {
    background-color: #fff;
    height: 4px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.4s;
} */

/* 
.menu-toggle.on{
    right: 0px;
    position: fixed;
} */

/* .menu-toggle.on .one {
    transform: rotate(45deg) translate(8px, 7px);
}

.menu-toggle.on .two {
    opacity: 0;
}

.menu-toggle.on .three {
    transform: rotate(-45deg) translate(7px, -7px);
} */






@keyframes animationOpacity {
    to {
        opacity: 1;
    }
}