section .left-menu {
    min-width: 120px;
    max-width: 100%;
    width: 220px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--background-dark-secondary-color);
    border-right: solid #333 1px;
    overflow-y: auto;
    overflow-x: hidden;
    /* position: relative; */
    z-index: 10;
}


section .left-menu h4 {
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-color);
    margin-bottom: 10px;
}

#left-menu-options{
    width: auto;
    height: auto;
    background: var(--menu-background-color);
    position: absolute;
    display: none;
    border-radius: 8px;
}


#left-menu-options.on{
    display: flex;
}


.left-menu ul, #left-menu-options ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}


#left-menu-options ul li{
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 10px 20px;
    color: var(--white-color);
}


.left-menu ul {
    padding: 10px 0 10px 0px;
}

.left-menu .left-menu-content ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #929395;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 5px 8px 10px;
    margin-bottom: 1px;

    transition: border-left 0.2s linear;
}


.left-menu .left-menu-content ul li:hover {
    border-left: 4px solid var(--white-color);
}


.left-menu .left-menu-content ul li img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 0;
}



.left-menu .left-menu-content ul li div {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
}



.left-menu .left-menu-content ul li button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.btn-edit {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../../public/assets/icons/all/edit.svg');

}


.btn-remove {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../../public/assets/icons/all/delete-bin-7-fill.svg');
}





.left-menu #content-tag-left-menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.left-menu #content-tag-left-menu ul {
    padding: 15px;
}

.left-menu #content-tag-left-menu ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    cursor: default;
}