.config-screen {
    width: 100%;
    height: var(--content-height);
    position: absolute;
    z-index: 15;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark-primary-color);
}

.config-screen.on {
    display: flex;
}
.config-screen button:hover{
    filter: brightness(60%);
}
.config-screen input{
    min-width: 100px;
}

.config-screen h4{
    
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    color: var(--white-color);
}
.config-screen  label {
    max-width: 90px;
   
    width: auto;
    height: auto;
    word-wrap: break-word;
    word-break: normal;
    margin-top: 4px;
   
    color: var(--white-color);
}
.config-screen  label[name=filename] {
    margin-top: 5px;
    margin-bottom: 0px;
}

modal-config  label[name=tagname] {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif, color-emoji;
}

.config-screen  label[name=filePath] {
    display: none;
}

.config-screen  label[name=filetype] {
    margin-top: 0;
    margin-bottom: 5px;
}


.config-screen .title-modal-config {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    overflow-y: auto;
}


.config-screen .title-modal-config #btn-close-modal-config {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--close-button-color);
    border-radius: 5px;
    padding: 10px;
    color:var(--white-color);
}

.config-screen .title-modal-config #btn-save-tags {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--maximize-button-color);
    border-radius: 5px;
    padding: 10px;
    color:var(--white-color);
}



.config-screen #createTags {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    overflow-y: auto;
}


.config-screen #createTags  .createTags-division{
    min-width: 200px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 40px;
}

.item-group {
    width: 100%;
    height: auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 1px solid #555;
}

.config-screen  img{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.item-sub-group {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.tag-content-options{
    max-width: 200px;
    width: auto;
    height: auto;
    border-radius: 5px;
    display: none;
    flex-wrap: wrap;
    background-color: var(--background-dark-secondary-color);
    padding: 10px;
    transition: opacity 0.3s;
}

 .tag-content-options.on{
    display: flex;
}


.tag--btn-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.tag-content-options-colors{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--white-color);  
    margin:0px 10px  10px 0px;
}
.not-tag-color
{
    width: 23px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('../../../../../public/assets/icons/main-area/tags/blur-off-fill.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin:0px 10px  10px 0px;
}


.config-screen  #btn-select-tag-color{
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
     background-color: var(--white-color);
    margin-left: 10px;
}



.config-screen #tag--button-select-icon-color{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--white-color);
    margin-right: 10px;
}

